[Unit]
Description=Data Backup Service to Azure
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/data/ax/CloudOps/azure/data_backup.sh
User=x
Group=x
